# Python
*.pyc
*.log
*.env
__pycache__/
venv/
.venv/
env/
db.sqlite3
dump.rdb
.venv
venv

*.pyc
*.log
*.env
.venv
venv
env
.env.db
**__pycache__

*.pyc
*.log
*.env
.venv
venv
env
.env.db
**__pycache__
db.sqlite3
dump.rdb