# Python cache and logs
*.pyc
*.log
__pycache__/
**/__pycache__/

# Environment files and secrets
.env
.env.*
.env.db

# Virtual environments
venv/
.venv/
env/

# Database & Redis dump files
db.sqlite3
dump.rdb
